.formulary {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.formulary input {
    padding-right: 25px;
}

label, input {
    flex: 1;
}