@import url("https://rsms.me/inter/inter.css");
html, body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #2D2D2D;
  color: white;
}

nav {
  background: #DB935F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  overflow: hidden;
}
nav .left {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
nav a.button {
  background-color: white;
  color: black;
}
nav a.button img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  object-fit: cover;
}
nav a.button img:first-child {
  margin-right: 8px;
}
nav a.button img:last-child {
  margin-left: 8px;
}
@media (max-width: 470px) {
  nav a.button:has(img) {
    overflow: hidden;
    text-indent: -1000em;
  }
  nav a.button:has(img) img:first-child, nav a.button:has(img) img:last-child {
    margin: 0;
  }
}

header {
  background: #DB935F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  border-bottom: 2px dashed #9f6943;
}

main {
  flex: 1;
  display: flex;
  padding: 0 20px;
}
main.article {
  flex-direction: column;
  gap: 32px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-bottom: 24px;
}
main.article > .article_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
main.article > .article_content .article_img {
  height: 300px;
}
main.article > .author {
  display: flex;
  align-items: center;
  background-color: #3e3e3e;
  border-radius: 4px;
  gap: 10px;
  padding: 16px 24px;
}
main.article > .author > img {
  width: 80px;
  border-radius: 100px;
}
main.article > .author > .infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main.article > .author > .infos .username {
  font-weight: bold;
}
main.article > .comments {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
main.article > .comments > .new_comment {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
main.article > .comments > .new_comment .top {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 46px;
}
main.article > .comments > .new_comment .bottom {
  display: flex;
  gap: 8px;
}
main.article > .comments > .new_comment .bottom img {
  width: 38px;
  margin-bottom: auto;
}
main.article > .comments > .new_comment .bottom textarea {
  flex: 1;
}
main.article > .comments > .comment {
  display: flex;
  gap: 8px;
}
main.article > .comments > .comment img {
  width: 38px;
  margin-bottom: auto;
}
main.article > .comments > .comment .content {
  flex: 1;
}
main.article > .comments > .comment .content .top {
  display: flex;
  gap: 8px;
  align-items: center;
}
main.article > .comments > .comment .content .top .username {
  color: #db935f;
}
main.article > .comments > .comment .content .top .date {
  color: #646464;
}
main.article > .comments > .comment .content .top a {
  background-color: white;
  color: black;
}
main.login, main.account, main.create_article, main.admin {
  justify-content: center;
  align-items: center;
}
main.login form, main.login > div, main.account form, main.account > div, main.create_article form, main.create_article > div, main.admin form, main.admin > div {
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main.login form .error_msg, main.login > div .error_msg, main.account form .error_msg, main.account > div .error_msg, main.create_article form .error_msg, main.create_article > div .error_msg, main.admin form .error_msg, main.admin > div .error_msg {
  color: #ff4e3f;
}
main.home {
  padding: 0;
}
main.home .filters {
  width: 280px;
  padding: 5px;
}
main.home .filters .toggle_filters {
  display: none;
}
main.home .filters label {
  display: flex;
  padding: 8px 12px;
}
main.home .filters label > * {
  flex: 10;
  width: 100%;
}
main.home .filters label span {
  flex: 6;
}
main.home .filters label input {
  box-sizing: border-box;
}
main.home .filters input[type=submit] {
  width: calc(100% - 24px);
  margin: 12px;
  box-sizing: border-box;
}
main.home .articles {
  flex: 1;
}
main.home .articles article {
  flex: 1;
  display: flex;
  gap: 15px;
  padding: 10px 50px;
  background-color: #2D2D2D;
  border-radius: 5px;
}
main.home .articles article:nth-child(2n-1) {
  background-color: #292929;
}
@media (max-width: 470px) {
  main.home .articles article {
    padding: 10px 17px;
  }
}
@media (max-width: 1000px) {
  main.home .articles article {
    flex-direction: column;
  }
}
main.home .articles article img {
  min-width: 160px;
  min-height: 90px;
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-right: 32px;
  border-radius: 6px;
  border: solid rgba(128, 128, 128, 0.4) 2px;
}
@media (max-width: 1000px) {
  main.home .articles article img {
    width: 100%;
  }
}
main.home .articles article .preview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 470px) {
  main.home {
    flex-direction: column;
  }
  main.home .filters:has(.toggle_filters:not(:checked)) > h2 > label:before {
    content: "Afficher";
  }
  main.home .filters:has(.toggle_filters:not(:checked)) > label, main.home .filters:has(.toggle_filters:not(:checked)) > input {
    display: none;
  }
  main.home .filters {
    width: calc(100% - 10px);
  }
  main.home .filters > h2 > label:before {
    content: "Masquer";
  }
  main.home .filters label:has(.toggle_filters) {
    display: flex;
    flex-direction: row;
  }
}

a.button, input.button, button.button, input[type=submit] {
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;
  /* inherit font & color from ancestor */
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  border-radius: 100px;
  background-color: #db935f;
  padding: 6px 10px;
  text-decoration: none;
  color: white;
}

a {
  color: #db935f;
}
a.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
label span {
  font-weight: bold;
  font-size: larger;
}

input, textarea, select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #646464;
  color: #D9D9D9;
}
input:focus, textarea:focus, select:focus {
  outline: solid #db935f;
}

fieldset {
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
