@import url('https://rsms.me/inter/inter.css');

html, body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #2D2D2D;
  color: white;
}
nav {
  background: #DB935F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //height: 50px;
  padding: 4px 20px;

  .left {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
  }
  a.button {
    background-color: white;
    color: black;
    img {
      &:first-child {
        margin-right: 8px;
      }
      &:last-child {
        margin-left: 8px;
      }
      height: 30px;
      width: 30px;
      border-radius: 100%;
      object-fit: cover;
    }
    &:has(img) {
      @media (max-width: 470px) {
        overflow: hidden;
        text-indent: -1000em; //cache le texte quand la fenetre est trop petite
        img:first-child,img:last-child {
            margin: 0;
        }
      }
    }
  }
}
header {
  background: #DB935F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  border-bottom: 2px dashed #9f6943;
}

main {
  flex: 1;
  display: flex;
  padding: 0 20px;

  &.login, &.account, &.create_article, &.admin {
    justify-content: center;
    align-items: center;
    form, > div {
      flex: 1;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .error_msg {
        color: #ff4e3f;
      }
    }
  }
  &.home {
    padding: 0;
    .filters {
      width: 280px;
      padding: 5px;
      .toggle_filters {
        display: none;
      }
      label {
        display: flex;
        padding: 8px 12px;
        > * {
          flex: 10;
          width: 100%;
        }
        span {
          flex: 6;
        }
        input {
          box-sizing: border-box;
        }
      }
      input[type=submit] {
        width: calc(100% - 24px);
        margin: 12px;
        box-sizing: border-box;
      }
    }
    .articles {
      flex: 1;
      article {
        flex:1;
        display: flex;
        gap: 15px;
        padding: 10px 50px;
        background-color: #2D2D2D;
        border-radius: 5px;

        &:nth-child(2n-1) {
          background-color: #292929;
        }

        @media (max-width: 470px) { // reduit les marges interieures pour correspond au marges des filtres quand il n'y a plus d'espace sur l'ecran
          padding: 10px 17px;
        }
        @media (max-width: 1000px) { // affiche l'image par dessus le texte et non a coté quand il n'y a plus d'espace sur l'ecran
          flex-direction: column;
        }
        img {
          min-width: 160px;
          min-height: 90px;

          width: 200px;
          @media (max-width: 1000px) {
            width: 100%;
          }
          height: 150px;
          object-fit: cover;
          margin-right: 32px;
          border-radius: 6px;
          border: solid rgba(grey,0.4) 2px;
        }
        .preview {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
      }
    }
    @media (max-width: 470px) { //affiche les filtres par dessus les articles quand il n'y a plus d'espace sur l'ecran
      flex-direction: column;
      .filters:has(.toggle_filters:not(:checked)) { //cache les filtres quand on clique sur le titre
        > h2 > label:before {
          content: 'Afficher';
        }
        > label, > input {
          display: none;
        }
      }
      .filters {
        > h2 > label:before {
          content: 'Masquer';
        }
        width: calc(100% - 10px);
        label:has(.toggle_filters) {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}

a.button, input.button, button.button, input[type=submit] {
  //reset button style
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;

  /* inherit font & color from ancestor */
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;


  //my style
  border-radius: 100px;
  background-color: #db935f;
  padding: 6px 10px;
  text-decoration: none;
  color: white;
}

a {
  color: #db935f;
  &.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  span {
    font-weight: bold;
    font-size: larger;
  }
  input, textarea, select {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #646464;
    color: #D9D9D9;
    &:focus {
      outline: solid #db935f;
    }
  }
}
fieldset {
  border-radius: 10px;
}