@import url("https://rsms.me/inter/inter.css");
html, body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin: 0;
  height: 100%;
}

.input_block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.input_block label {
  font-weight: bold;
  font-size: larger;
}
.input_block input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #646464;
  color: #D9D9D9;
}
.input_block input:focus {
  outline: solid #db935f;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #2D2D2D;
  color: white;
}
body main {
  flex: 1;
  display: flex;
}
body.login main, body.account main, body.create_article main {
  justify-content: center;
  align-items: center;
}
body.login main form, body.login main > div, body.account main form, body.account main > div, body.create_article main form, body.create_article main > div {
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body.login main form .error_msg, body.login main > div .error_msg, body.account main form .error_msg, body.account main > div .error_msg, body.create_article main form .error_msg, body.create_article main > div .error_msg {
  color: #ff4e3f;
}
body.home main .filters {
  width: 250px;
  padding: 5px;
}
body.home main .filters .input_block {
  display: flex;
  padding: 8px 12px;
}
body.home main .filters .input_block > * {
  flex: 10;
  width: 100%;
}
body.home main .filters .input_block .input_name {
  flex: 6;
}
body.home main .filters input.button {
  width: 100%;
}
body.home main .articles {
  flex: 1;
}
body.home main .articles .article {
  flex: 1;
  display: flex;
  gap: 15px;
  padding: 10px 0 10px 50px;
  background-color: #2D2D2D;
  border-radius: 5px;
}
body.home main .articles .article:nth-child(2n-1) {
  background-color: #292929;
}
body.home main .articles .article img {
  min-width: 160px;
  min-height: 90px;
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-right: 32px;
  border-radius: 6px;
  border: solid rgba(128, 128, 128, 0.4) 2px;
}
@media (max-width: 560px) {
  body.home main .articles .article img {
    width: 100%;
  }
}
body.home main .articles .article .preview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body nav {
  background: #DB935F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}
body nav a.button {
  background-color: white;
  color: black;
}
body nav a.button img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  object-fit: cover;
}
body nav a.button img:first-child {
  margin-right: 8px;
}
body nav a.button img:last-child {
  margin-left: 8px;
}
body header {
  background: #DB935F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  border-bottom: 2px dashed #9f6943;
}

a.button, input.button, button.button, input[type=submit] {
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;
  /* inherit font & color from ancestor */
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  border-radius: 100px;
  background-color: #db935f;
  padding: 6px 10px;
  text-decoration: none;
  color: white;
}

a {
  color: #db935f;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/*# sourceMappingURL=style2.css.map */
